
<div class="container-fluid">
  <div class="row">
    <div class="form-group well">
      <form action="/about/upload" method="post" enctype="multipart/form-data" require>
        <input type="file" name="file"></br>
        <select name="encoding">
          <option>SJIS</option>
          <option>UTF-8</option>
          <option>EUCJP</option>
          <option>BINARY</option>
        </select><br><br>
        <input class="btn btn-submit" type="submit" name="submit" value="upload">
      </form>
    </div>
    <div>
      <table class="table table-striped table-bordered table-responsive" id="samp" cellspacing="0" width="100%">
        <% if(locals.data){ %>
        <thead>
          <% for(var item in data[0]){ %>
            <th><%= data[0][item] %></th>
          <% } %>
        </thead>
        <tbody>
              <% for(var value in data){ %>
                <% if(value > 0 ){ %>
                  <tr>
                    <% for(var item in data[value]){ %>
                      <td><%= data[value][item] %></td>
                    <% } %>
                  </tr>
                <% } %>
              <% } %>
        </tbody>
        <% }else{ %>
          No data....
        <% } %>
        </table>
    </div>
    <div class="col-md-2 col-sm-1 col-xs-1">

    </div>
  </div>
</div>
